@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171e1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-montserrat);
  --font-body: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
